<div class="main-sidenav-sticky">
    <aside class="sidenav-menu">
        <p>App navigation bar works!</p>
        <!-- <div class="main-sidenav-header">
            <a href="#" title="Home Page">
                <img src="" alt="Home Page Logo">
            </a>
        </div> -->
        <perfect-scrollbar>
            <div class="ps" style="position: static;">
                <div class="ps-content">
                    <p>Scroll region works!</p>
                </div>
            </div>
        </perfect-scrollbar>
    </aside>
</div>