.main-sidenav-sticky {
    .sidenav-menu {
        width: 240px;
    }
}

.sidenav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    z-index: 1001;
    background-color: #ffD;
}

.main-sidenav-header {
    height: 64px;
}