<div class="main-sidenav-sticky">
    <aside class="sidenav-menu">
        <div class="main-sidenav-header">
            <p>App navigation bar works!</p>
            
            <!-- <a href="#" title="Home Page">
                <img src="" alt="Home Page Logo">
            </a> -->
        </div>
        <div class="sidenav-body">
            <p-scrollPanel [style]="{height: '100%'}" styleClass="custombar1">
                <p>Here is scroll panel of PrimeNG.</p>
                <div class="menu-inner">
                    Here is menu inner content.
                </div>
            </p-scrollPanel>
        </div>
        <div class="sidenav-footer">
            Here is side nav footer.
        </div>
    </aside>
</div>