.main-header {
    height: 3.75rem;
    margin-bottom: 1.25rem;
    background: #FFF;

    @media (min-width: 768px) {
        padding-left: 250px;
        width: 100%;
    }
}

.sidenav-header {
    display: flex;

    @media (min-width: 768px) {
        top: 0;
        right: 0;
        left: 0;
    }
}