<div class="main-header sidenav-header">
    <div class="main-header-container">
        <div class="main-header-left">
            <!-- <i class="header-icon bx bx-menu-alt-left"></i> -->
            <!-- <a href="javascript:void(0)" title="Menu">Menu</a> -->
            <div class="app-sidebar__toggle">
                <a href="javascript:void(0)" title="Menu Toggle">
                    <i class="header-icon bx bx-menu-alt-left"></i>
                </a>
            </div>
            <p>App header works!</p>
        </div>
    </div>
</div>